.text-zone2 {
    position: absolute;
    left: 10%;
    top: 46%;
    transform: translateY(-50%);
    vertical-align: middle;
    display: block;
    max-height: 90%;
    margin-top: 45px;

h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before {
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        left: 15px;
        opacity: 0.6;
    }

    &::after {
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
    }

    img {
        width: 32px;
        margin-left: 20px;
        opacity: 0;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
    }
}
}


.break {
    margin-top: 40px;
}

@media screen and (max-width: 1200px) {


    .text-zone2 {
        width: -webkit-fill-available;
        right: 10%;
        margin-top: 45px;
    }
    
  }